* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/video.webm) no-repeat center/cover;
  --stroke-color: rgba(255, 255, 255, 0.3);
  --surface-color: rgba(10, 10, 10, 0.3);
  --surface-color-hover: #000000;
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg)
}


body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: var(--bg-url);
}


body * {
  font-family: "Inter", sans-serif;
  /* Familia da fonte (Tipo) */
  color: var(--text-color);
  /* Cor da fonte */
}

#container {
  width: 100%;
  /* Largura do bloco de conteúdo em relação a página */
  max-width: 588px;

  margin: 56px auto 0px;
  /* Espaçamento do conteúdo em relação a página (Direita, Esquerda, Topo e Baixo) */
  padding: 0px 24px;
}

/* Profile */

#profile {
  text-align: center;
  /* Alinha o texto ao centro do bloco de */
  padding: 24px;
}

#profile img {
  width: 122px;
  /* Largura da imagem Elemento */
}

#profile p {
  font-weight: 600;
  /* Peso da fonte */
  line-height: 24px;
  /* Espaçamento do elemento */
  margin-top: 8px;
  /* Espaçamento em relação ao elemento Html de cima */
}

/* Links */

ul {
  list-style: none;
  /* Retira o efeito da lista com pontos */
  display: flex;
  /* Defini o conjunto do Html como flex, saindo de inline ou block */
  flex-direction: column;
  /* Defini o estilo de apresentação das caixas como coluna */
  gap: 16px;
  /* Espaçamento entre os elementos da lista */

  padding: 24px 0px;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 16px 100px; /* Ajuste a largura do padding conforme necessário */
  font-weight: 500;
  border-radius: 14px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  -webkit-backdrop-filter: blur(4px);
  transition: background 0.3s;
}


/* Pseudo-selector */
ul li a:hover {
  background: var(--surface-color);
  border: 1.5px solid var(--text-color);
}

.video-container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  object-fit: cover;
}


/* Social Links */
#social-links {
  padding: 24px 0px;
  display: flex;
  flex-direction: row;
  font-size: 24px;
  justify-content: center;
}

#social-links a {
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: center;
  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px;
  text-align: center;
  font-size: 14px;
}


/* Media Queries */

/* @media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg)
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg)
  }
} */


/* Animation */

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}


@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}


#content-container {
  position: relative;
  z-index: 1;
  text-align: center;
  color: var(--text-color);
}

#container {
  width: 100%;
  /* Largura do bloco de conteúdo em relação a página */
  max-width: 588px;

  margin: 56px auto 0px;
  /* Espaçamento do conteúdo em relação a página (Direita, Esquerda, Topo e Baixo) */
  padding: 0px 24px;
}
